body{
    font-family: 'Lobster', cursive;
    margin: 0;
}

.top-banner{
    color: #575757;
    padding: 50px;   
    background-color: honeydew; 
}

h1 {
    font-size: 70px;
    word-spacing: 5px;
}
h2{
    font-size: 50px;
    color: green;
}
p{
    font-size: 40px;
    margin-bottom: 50px;
}
span{
    color: green;
}

.link-btn{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(green, yellowgreen);
    margin: 50px 0;
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 24px;
    margin-top: 50px;
}
.flexible-container{
    display: flex;
}
.top-banner-item{
    width: 70%;
    padding: 40px;
}

.top-banner-item img{
    width: 100%;
    padding: 20px;
}
.about-me{
    color: #575757;
    background-color: cornsilk;
    padding: 50px;
}
.about-me-item{
    width: 50%;
    padding: 35px;
}

.about-me-item img{
    width: 50%;
    padding-left: 50px;
}


.recipie-section{
    margin: 20px 50px;
    margin-bottom: 100px;
}
.recipie-section h2{
    /* padding: 50px; */
    text-align: center;

}
.recipie-text{
    text-align: center;
    font-size: 24px;
    color: #575757;
    
}
.item{
    width: 50%;
    padding: 10px;
    border: 10px solid transparent;
    border-radius: 50px;
    box-shadow: 10px 10px 40px gray ;
    margin-left: 5%;
    margin-right: 2%;
    
}

.item img{
    border-radius: 50px;
}

.item h3{
    font-size: 28px;
    color: green;
}
.item p{
    font-size: 20px;
    color: #575757;
}
.follower-section{
    
    margin-left: 10% ;
    margin-right: 5%;
    border: 2px solid transparent;
    border-radius: 30px;
    box-shadow: 2px 2px 2px 2px gray;
}

.followers{
    align-items: center;
    /* border: 10px solid aliceblue; */
    width: 33%;
    text-align: center;
    font-size: 28px;
}

small{
    color: gray;
}

footer{
    text-align: center;
    background-color: black;
    color: gray;
    margin-top: 50px;
    padding: 50px 100px;
}